<% @subscriptions.each do |subscription| %>
    <%= link_to subscription_path(subscription), class: "text-dark text-decoration-none" do %>
        <div class="card mt-2">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="m-0"><%= subscription.name %></h3>
                    <p class="m-0"><strong>£<%= subscription.price %></strong></p>
                </div>
            </div>
        </div>
    <% end %>    
<% end %>
<div class="d-flex justify-content-between align-items-center mt-3 p-2">
    <h3 class="m-0">Total:</h3>
    <p class="m-0"><strong>£<%= number_with_precision(@total, precision: 2) %></strong></p>
</div>
<div class="d-flex justify-content-around align-items-center mt-3 p-2">
    <%= link_to "New", new_subscription_path, class: "btn btn-primary" %>
</div>

